<mat-form-field class="input-container" appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <mat-icon matPrefix>
  {{ iconePrefix }}
  </mat-icon>
  <input
  type="text"
  aria-label="Unidade Federativa"
  matInput
  [matAutocomplete]="auto"
  [formControl]="control"
  />
  <mat-icon matSuffix>search</mat-icon>
  <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions$ |async" [value]="option.nome">
        {{ option.nome }}
      </mat-option>

  </mat-autocomplete>
</mat-form-field>
