<section class="modal">
  <h1 mat-dialog-title>Viajante</h1>
  <div mat-dialog-content>
    <div class="selecao-idade">

      <app-seletor-passageiro
      [formControl]="service.obterControle('adultos')"
      titulo="Adultos" subTitulo="(Acima de 12 Anos)"/>
      <app-seletor-passageiro
      [formControl]="service.obterControle('criancas')"
      titulo="Crianças" subTitulo="(Entre 2 e 11 Anos)"/>
      <app-seletor-passageiro
      [formControl]="service.obterControle('bebes')"
      titulo="Bebês" subTitulo="(até 2 Anos)"/>

    </div>
    <div class="selecao-categoria">
      <p><strong>Categoria</strong></p>
      <mat-chip-listbox aria-label="Seleção de passagens">
        <mat-chip-option
        value="Econômica"
        [selected]="service.formBusca.get('tipo')?.value === 'Econômica'"
        (selectionChange)="service.alterarTipo($event, 'Econômica')"
        >Econômica</mat-chip-option>
        <mat-chip-option
        value="Executiva"
        [selected]="service.formBusca.get('tipo')?.value === 'Executiva'"
        (selectionChange)="service.alterarTipo($event, 'Executiva')"
        >Executiva</mat-chip-option>
      </mat-chip-listbox>
    </div>
  </div>
  <div mat-dialog-actions class="modal-actions">
    <button color="primary" mat-flat-button mat-dialog-close
    >BUSCAR</button>
  </div>
</section>

